* {
  border-sizing: border-box;
  margin: 0;
  padding: 0;
}
#page-wrapper {
  position: relative;
}
#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ff5722;
}
#nav-bar ul {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 650px) {
  #nav-bar ul {
    display: flex;
  justify-content: space-around;
  }
}
#nav-bar li {
  padding: 10px 20px;
  list-style: none;
}
#nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
#welcome-section {
  margin-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#welcome-section h1 {
  padding: 10px;
  font-size: 40px;
}
 p {
  font-size: 20px;
}
#projects {
  margin: 0 20vw;
}
@media (max-width: 650px) {
  #projects {
    margin: 0;
  }
}
#projects h2 {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}
.project-title {
  text-align: center;
  padding: 30px;
  
}
.project-title > p {
  padding: 20px;
}
#contact {
  height: 50vh;
  text-align: center;
}
#contact h3 {
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}
#contact a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
#contact a:hover {
  color: #ff5722;
}
footer {
  border-top:3px solid #ff5722;
  margin: 10px 0;
}
footer p{
  text-align: end;
  font-size: 16px;
  margin-top: 10px;
}